body {
    background-color: #1A374D;
    font-family: Calibri, sans-serif;
}

.header {
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, rgba(26,55,77,1) 0%, rgba(9,75,92,1) 80%, rgba(126,168,190,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
    position: fixed;
    top: 0;
}

.welcome-msg {
    font-weight: bold;
    font-size: 2em;
    color: #B1D0E0;
}
.navigation {
    display: flex;
}

.navigation-link {
    padding: 0 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.anchor {
    color: #B1D0E0;
    transition: color 1s ease;
}

.anchor:hover {
    color: rgb(55, 224, 66);
}

.main {
    margin: 80px 0 0 0;
}

.welcome {
    width: 100%;
    text-align: center;
    margin-top: -80px;
}

.presentation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    width: 35%;
    margin: auto;
}

.presentation {
    color: #6998AB;
}

strong {
    font-weight: bold;
    color: #B1D0E0;
}

.logo-container {
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 64px;
}

.mail-copy, .cv-download {
    display: flex;
}

.profile-box {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
    width: 50%;
    height: 800px;
    padding: 0 0 0 5%;
    text-align: center;
}

.profile-title {
    font-size: 2em;
}

.profile-intro {
    color: #6998AB;
}

.mail-copy {
    
}

.mail-btn {
    background-color: #B1D0E0;
    color: #1A374D;
    border: none;
    border-radius: 5px;
    padding: 1em;
    font-weight: 800;
    box-shadow: 5px 5px 10px 0px #6998AB;
    transition: background-color 1.5s;
}

.mail-btn-clicked {
    background-color: green;
}

.mail-btn:active {
    transform: translate(5px, 5px);
    box-shadow: 0 0 10px 0 #6998AB;
}

.copy-confirm {
    color: green;
    padding: 0 10px;
}

.cv-download {
}